[submodule "hugo/ananke/themes/ananke"]
	path = hugo/ananke/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "hugo/docsy/themes/docsy"]
	path = hugo/docsy/themes/docsy
	url = https://github.com/google/docsy.git
[submodule "hugo/book/themes/hugo-book"]
	path = hugo/book/themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
